
.fa {
  padding: 6px;
  font-size: 15px;
  width: 24px;
  height: 24px;
  text-align: center;
  text-decoration: none;
  border: 1px solid graytext;
  border-radius: 20px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.my-round-circle{    
    width:100%; 
    height:100%; 
    border-radius:150px;
}

.my-round-circle-2{    
    width:150px;
    height:150px;
    border: 8px solid #e9ecef;
}

.hidden{
    visibility: hidden;
    display: none;
}

.upload{
    border: 1px solid silver;
    /*border-radius: 8px;*/
} 

.upload-white{
    background-color:white;    
}

.upload-green{
    background-color:#00b33c;    
}

.upload-red{
    background-color:#e60000;    
}

.h-over:hover  {
  background-color: #f5f4f4;
  cursor: pointer;
}

.h-over-success:hover  {
  background-color: #ccffcc;
  cursor: pointer;
}

.h-over-error   :hover  {
  background-color: #ffcccc;
  cursor: pointer;
}

#conferir{
      text-align:right;
  }

@media (max-width: 768px) {    
  .upl {
    text-align:center;
  }
  
  .res {
    margin-left: 50px;
  }
  
  #conferir{
      text-align:center;
  }
  
}

